# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Binaries.
bin/

# Mac OS X Finder config files.
.DS_Store

# Vim automatic backup files.
*.swp

# Java Class files.
*.class

# Archives.
*.zip
