# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

bin/
bin
.metadata

# Vim files.
*.swp

# Compiled Dynamic libraries
*.so
*.dylib


